<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <th:block th:include="fragments::css"/>
</head>
<body>
<th:block th:include="management/fragments::navbar" th:with="navItem='hotel'"/>

<div class="container mt-3">
    <table id="hotels">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rooms</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel:${hotels}">
            <td>
                <a th:href="@{'/management/hotels/'+${hotel.id}+'/edit'}">
                    <span th:text="${hotel.name}"></span>
                    (edit)
                </a>
            </td>
            <td>
                <a th:href="@{'/management/hotel/'+${hotel.id}+'/rooms'}">
                    <span th:text="${hotel.rooms.size()}"></span>
                    (list)
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mt-3">
        <a th:href="@{/management/hotels/add}" class="btn btn-primary">Add Hotel</a>
    </div>
</div>

<th:block th:include="fragments::js"/>
<script>
    $(document).ready(function () {
        $('#hotels').DataTable();
    });
</script>
</body>
</html>
