<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <th:block th:include="fragments::css"/>
</head>
<body>
<th:block th:include="management/fragments::navbar" th:with="navItem='hotel-edit'"/>

<div class="container mt-3">
    <form th:action="@{/management/hotels}" th:object="${hotel}" method="post">
        <input th:field="*{id}" type="hidden"/>
        <div class="form-group">
            <input th:field="*{name}" placeholder="Hotel name" type="text" class="form-control"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="form-text text-muted">Name Err</small>
        </div>
        <div class="form-group">
            <input th:field="*{address}" placeholder="Address" type="text" class="form-control"/>
            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                   class="form-text text-muted">Address Err</small>
        </div>
        <div class="form-group">
            <div class="row">
                <input th:field="*{geoPointId}" type="hidden">
                <div class="col">
                    <input th:field="*{geoLongitude}" placeholder="Geo longitude" type="text" class="form-control"/>
                    <small th:if="${#fields.hasErrors('geoLongitude')}" th:errors="*{geoLongitude}"
                           class="form-text text-muted">GeoLongitude Err</small>
                </div>
                <div class="col">
                    <input th:field="*{geoLatitude}" placeholder="Geo latitude" type="text" class="form-control"/>
                    <small th:if="${#fields.hasErrors('geoLatitude')}" th:errors="*{geoLatitude}"
                           class="form-text text-muted">GeoLatitude Err</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea th:field="*{description}" placeholder="Description" class="form-control" rows="3"></textarea>
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                   class="form-text text-muted">Description Err</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<th:block th:include="fragments::js"/>
</body>
</html>
