<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <link th:href="@{/ext/dropzone/5.2.0/dropzone.css}" rel="stylesheet"/>
    <th:block th:include="fragments::css"/>
    <style>.removeImage {position: absolute; top: 0; right: 0; padding: 5px; cursor: pointer;}</style>
</head>
<body>
<th:block th:include="management/fragments::navbar" th:with="navItem='hotel-edit'"/>

<div class="container mt-3">
    <form th:action="@{/management/hotels}" th:object="${hotel}" method="post">
        <input th:field="*{id}" type="hidden"/>
        <div class="form-group">
            <input th:field="*{name}" placeholder="Hotel name" type="text" class="form-control"/>
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="form-text text-muted">Name Err
            </small>
        </div>
        <div class="form-group">
            <input th:field="*{address}" placeholder="Address" type="text" class="form-control"/>
            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                   class="form-text text-muted">Address Err
            </small>
        </div>
        <div class="form-group">
            <div class="row">
                <input th:field="*{geoPointId}" type="hidden">
                <div class="col">
                    <input th:field="*{geoLongitude}" placeholder="Geo longitude" type="text" class="form-control"/>
                    <small th:if="${#fields.hasErrors('geoLongitude')}" th:errors="*{geoLongitude}"
                           class="form-text text-muted">GeoLongitude Err
                    </small>
                </div>
                <div class="col">
                    <input th:field="*{geoLatitude}" placeholder="Geo latitude" type="text" class="form-control"/>
                    <small th:if="${#fields.hasErrors('geoLatitude')}" th:errors="*{geoLatitude}"
                           class="form-text text-muted">GeoLatitude Err
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea th:field="*{description}" placeholder="Description" class="form-control" rows="3"></textarea>
            <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                   class="form-text text-muted">Description Err
            </small>
        </div>
        <div class="form-group">
            <div th:if="${#fields.hasErrors('images')}" th:errors="*{images}" style="color: red;">Err</div>
            <div id="images" style="margin-bottom: 20px;">
                <div th:each="image : ${images}" style="float: left; position: relative; margin: 10px;">
                    <img src="" th:src="'/files/'+${image.uuid}"/>
                    <input type="hidden" name="image" th:value="${image.uuid}"/>
                    <div class="removeImage" th:attr="data-uuid=${image.uuid}"><i class="fa fa-times-circle"></i></div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container mt-3">
    <form id="dropzone-form" th:action="@{/management/files}"></form>
</div>

<th:block th:include="fragments::js"/>
<script th:src="@{/ext/dropzone/5.2.0/dropzone.js}"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    $(function () {
        var token = $("input[name='_csrf']").val();
        var header = "X-CSRF-TOKEN";
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });

    Dropzone.options.dropzoneForm = {
        acceptedFiles: 'image/jpeg,image/png',
        maxFilesize: 32,
        success: function (file, response) {
            var fileMeta = response[0];
            $("#images").append('<div style="float: left; position: relative; margin: 10px;">' +
                '<img src="/files/' + fileMeta.uuid + '" style="height: 75px;"/>' +
                '<input type="hidden" name="image" value="' + fileMeta.uuid + '"/>' +
                '<div  class="removeImage" data-uuid="' + fileMeta.uuid + '">' +
                '<i class="fa fa-times-circle"></i></div></div>');
            this.removeFile(file);
        },
        error: function (file, response) {
            this.removeFile(file);
        }
    };
    /*]]>*/
</script>
</body>
</html>
