<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <th:block th:include="fragments::css"/>
    <th:block th:include="management/fragments::css"/>
</head>
<body>
<th:block th:include="management/fragments::navbar" th:with="navItem='reservations'"/>

<div class="container mt-3">
    <div id="calendar"></div>
</div>

<th:block th:include="fragments::js"/>
<th:block th:include="management/fragments::js"/>
<script th:inline="javascript">
    var rooms = [[${rooms}]];
    var resources = [];
    rooms.forEach(function (room) {
        var resource = [];
        resource['id'] = room.id;
        resource['title'] = room.number;
        resources.push(resource);
    });
    var reservations = [[${reservations}]];
    var events = [];
    reservations.forEach(function (reservation) {
        var event = [];
        event.id = reservation.id;
        event.resourceId = reservation.room.id;
        event.start = reservation.checkIn;
        event.end = reservation.checkOut;
        if (reservation.user !== null)
            event.title = reservation.user.fullName;
        event.url = '/management/reservation/' + reservation.id;
        events.push(event);
    });
    $(function () {
        $('#calendar').fullCalendar({
            locale: 'uk',
            defaultView: 'timelineMonth',
            slotDuration: '12:00:00',
            resourceLabelText: 'R №',
            resourceAreaWidth: '15%',
            resources: resources,
            events: events,
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source'
        })
    });
</script>
</body>
</html>
