#availability-filter {
    padding: 12px;
    background-color: aliceblue;
}

.removeImage {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    cursor: pointer;
}

.image-gallery img {
    width: 100%;
    position: absolute;
}
