body {
    padding-top: 70px;
}

.container-for-centered {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    overflow: hidden;
    background-size: cover;
    background: no-repeat fixed center;
}

.banner.a {
    height: 150px;
    background-image: url(../img/michael-lammli-776608-unsplash.jpg);
}

#availability-filter {
    padding: 12px;
    background-color: aliceblue;
}

.image-gallery img {
    width: 100%;
}

.image-gallery figure:not(:last-child) img {
    display: none;
}

.image-gallery figure {
    margin: 0;
}

#map {
    height: 300px;
    width: 100%;
}
