<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a th:href="@{/}" class="navbar-brand" th:text="#{project.title}">The Hôtel</a>
        <span class="navbar-text d-none d-md-block" th:text="#{project.description}">Hotel booking system</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{'tel:'+${phone.replaceAll('[^+0-9]+','')}}"
                       th:with="phone=#{phone}" class="nav-link">
                        <i class="fas fa-phone fa-rotate-90"></i>
                        <span th:text="#{phone}">+38 012 123-45-67</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

<th:block th:fragment="room">
    <div class="row">
        <div class="col-3">
            <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                <figure th:each="photo:${room.photos}"
                        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a th:href="@{'/files/'+${photo}}" itemprop="contentUrl" data-size="600x400">
                        <img th:src="@{'/files/'+${photo}}" th:alt="${room.number}+' photo'" itemprop="thumbnail"
                             src=""/>
                    </a>
                </figure>
            </div>
        </div>
        <div class="col">
            <h3><th:block th:text="${room.number}"/></h3>
            <div><span th:text="#{persons}">Persons</span>:
                <th:block th:text="${room.persons}"/>
            </div>
            <div>
                <th:block th:text="${room.description}"/>
            </div>
            <div><span th:text="#{price}">Price</span>:
                <th:block th:text="${room.price}"/>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="image-gallery-photoswipe">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('.image-gallery').photoswipe({
            bgOpacity: 0.7,
            loop: true
        });
        /*]]>*/
    </script>
</th:block>

<th:block th:fragment="check-in-check-out-daterangepicker">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#check-in-check-out').daterangepicker({
            "minDate": moment(),
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": /*[[#{apply}]]*/ "Apply",
                "cancelLabel": /*[[#{cancel}]]*/ "Cancel",
                "daysOfWeek": [
                    /*[[#{Su}]]*/ "Su",
                    /*[[#{Mo}]]*/ "Mo",
                    /*[[#{Tu}]]*/ "Tu",
                    /*[[#{We}]]*/ "We",
                    /*[[#{Th}]]*/ "Th",
                    /*[[#{Fr}]]*/ "Fr",
                    /*[[#{Sa}]]*/ "Sa"
                ],
                "monthNames": [
                    /*[[#{Jan}]]*/ "January",
                    /*[[#{Feb}]]*/ "February",
                    /*[[#{Mar}]]*/ "March",
                    /*[[#{Apr}]]*/ "April",
                    /*[[#{May}]]*/ "May",
                    /*[[#{June}]]*/ "June",
                    /*[[#{July}]]*/ "July",
                    /*[[#{Aug}]]*/ "August",
                    /*[[#{Sept}]]*/ "September",
                    /*[[#{Oct}]]*/ "October",
                    /*[[#{Nov}]]*/ "November",
                    /*[[#{Dec}]]*/ "December"
                ],
                "firstDay": 1
            }
        });
        /*]]>*/
    </script>
</th:block>

<th:block th:fragment="css">
    <link th:href="@{/ext/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/ext/datatables/1.10.19/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/ext/bootstrap-daterangepicker/2.1.19/css/bootstrap-daterangepicker.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/ext/font-awesome/5.4.1/css/all.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</th:block>

<th:block th:fragment="js">
    <script th:src="@{/ext/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/ext/popper.js/1.14.4/dist/umd/popper.js}"></script>
    <script th:src="@{/ext/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/ext/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/ext/momentjs/2.22.2/min/moment.min.js}"></script>
    <script th:src="@{/ext/bootstrap-daterangepicker/2.1.19/js/bootstrap-daterangepicker.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</th:block>

</body>
</html>
