<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <link th:href="@{/ext/photoswipe/4.1.2/dist/photoswipe.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/ext/photoswipe/4.1.2/dist/default-skin/default-skin.css}" rel="stylesheet" type="text/css"/>
    <th:block th:include="fragments::css"/>
</head>
<body>

<th:block th:include="fragments::header"/>

<div class="container-for-centered">
    <img th:src="@{/img/gabriel-ghnassia-518-unsplash_cr.jpg}" style="width: 100%;"/>
    <div class="centered">
        <h1 class="text-white">A Single Stars Hotel</h1>
        <p class="text-white">Across the street from the ordinary. Discover a hotel that defines a new dimension of
            luxury.</p>
    </div>
</div>

<div class="fixed-background fixed-background-1"></div>

<div th:each="hotel:${hotels}">
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h2 th:text="${hotel.name}"></h2>
                <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    <figure th:each="photo:${hotel.photos}"
                            itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a th:href="@{'/files/'+${photo}}" itemprop="contentUrl" data-size="1024x768">
                            <img th:src="@{'/files/'+${photo}}" th:alt="${hotel.name}+' photo'" itemprop="thumbnail"
                                 src=""/>
                        </a>
                    </figure>
                </div>
            </div>
            <div th:utext="${hotel.description}" class="col"></div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div id="availability-filter">
                    <form th:action="@{/hotel/{id}/browse(id=${hotel.id})}" th:object="${filter}" method="post">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <label for="check-in-check-out" th:text="#{check-in-check-out}">
                                    Check in - Check out
                                </label>
                                <input th:field="*{checkInCheckOut}" type="text" class="form-control mb-2"
                                       id="check-in-check-out">
                            </div>
                            <div class="col-auto">
                                <label for="persons" th:text="#{persons}">Persons</label>
                                <select th:field="*{persons}" class="form-control mb-2" id="persons">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button th:text="#{check-availability}" type="submit"
                                        class="btn btn-primary mb-2 mt-sm-4">
                                    Check availability
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div th:attr="data-geo-longitude=${hotel.geoPoint.longitude},data-geo-latitude=${hotel.geoPoint.latitude}"
                     id="map"></div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <h3>Awesome Rooms</h3>
                <p>Lorem ipsum dolor amet aesthetic food truck truffaut meh.</p>
            </div>
        </div>
        <div class="row">
            <div th:each="room:${hotel.rooms}" th:if="${room.awesome}" class="col">
                <div class="card border-dark mb-4" style="width: 100%;">
                    <img th:if="${not room.photos.isEmpty()}" th:src="@{'/files/'+${room.photos.get(0)}}"
                         class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${room.number}">Number</h5>
                        <div><span th:text="#{persons}">Persons</span>:
                            <th:block th:text="${room.persons}"/>
                        </div>
                        <div>
                            <th:block th:text="${room.description}"/>
                        </div>
                        <div><span th:text="#{price}">Price</span>:
                            <th:block th:text="${room.price}"/>
                        </div>
                        <div class="text-right">
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments::footer"/>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments::js"/>
<script th:src="@{/ext/photoswipe/4.1.2/dist/photoswipe.min.js}"></script>
<script th:src="@{/ext/photoswipe/4.1.2/dist/photoswipe-ui-default.min.js}"></script>
<script th:src="@{/js/jquery.photoswipe.js}"></script>
<th:block th:include="fragments::image-gallery-photoswipe"/>
<th:block th:include="fragments::check-in-check-out-daterangepicker"/>
<script>
    function initMap() {
        var mapHolder = $('#map');
        var uluru = {lat: mapHolder.data('geo-latitude'), lng: mapHolder.data('geo-longitude')};
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: uluru});
        var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
<script async defer
        th:src="@{https://maps.googleapis.com/maps/api/js(key=${@environment.getProperty('google-api-key')},callback='initMap')}"></script>
</body>
</html>
