<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <link th:href="@{/ext/photoswipe/4.1.2/dist/photoswipe.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/ext/photoswipe/4.1.2/dist/default-skin/default-skin.css}" rel="stylesheet" type="text/css"/>
    <th:block th:include="fragments::css"/>
</head>
<body>

<th:block th:include="fragments::header"/>

<div class="container">
    <div th:each="hotel:${hotels}" class="mt-3">
        <div class="row">
            <div class="col">
                <h2 th:text="${hotel.name}"></h2>

                <div class="image-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    <figure th:each="photo:${hotel.photos}"
                            itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a th:href="@{'/files/'+${photo}}" itemprop="contentUrl" data-size="600x400">
                            <img th:src="@{'/files/'+${photo}}" th:alt="${hotel.name}+' photo'" itemprop="thumbnail" src=""/>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col">
                <p th:text="${hotel.description}"></p>
                <a th:href="@{'/hotel/'+${hotel.id}+'/browse'}" class="btn btn-primary">Browse</a>
            </div>
        </div>
    </div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments::js"/>
<script th:src="@{/ext/photoswipe/4.1.2/dist/photoswipe.min.js}"></script>
<script th:src="@{/ext/photoswipe/4.1.2/dist/photoswipe-ui-default.min.js}"></script>
<script th:src="@{/js/jquery.photoswipe.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('.image-gallery').photoswipe({
        bgOpacity: 0.7,
        loop: true
    });
    /*]]>*/
</script>
</body>
</html>
