<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{project.title}"></title>
    <th:block th:include="fragments::css"/>
</head>
<body>
<th:block th:include="fragments::management-nav" th:with="navItem='hotel'"/>

<div class="container mt-3">
    <button type="button" class="btn btn-info">Add Hotel</button>
</div>

<th:block th:include="fragments::js"/>
</body>
</html>
